---
import { Image } from "astro:assets";
import AaronImg from "../../assets/images/aaron.webp";
import Arrow from "../icons/Arrow.astro";
import StaticImg from "../../assets/images/static-optimized.png";
---

<div
  class="container relative md:pt-20 grid grid-cols-4 md:grid-cols-8 md:pb-12"
>
  <div class="col-span-4 md:col-span-4 order-2 md:order-1 -mt-12 md:mt-0">
    <span
      class="relative flex items-center gap-2 text-sm font-medium text-primary"
    >
      <div class="bg-green-400 animate-pulse size-2 rounded-full"></div>
      open to work</span
    >
    <h1 class="font-normal! text-balance mb-12">
      a software development partner for your business.
    </h1>

    <div class="">
      <div class="flex text-foreground-muted gap-4 items-center mb-4">
        <p class="text-white">
          <span class="text-primary">//</span> about me
        </p>
        <div class="h-px bg-lines flex-1"></div>
      </div>

      <p class="text-foreground-muted text-lg! leading-relaxed mb-6">
        I build websites and custom software for businesses without tech teams.
        If you’ve got a workflow that’s slowing you down or a process you wish
        ran itself, we can build something that fixes it.
      </p>
    </div>
  </div>
  <div class="col-span-4 md:col-span-4 order-1 md:order-2 mb-8">
    <div class="w-[60%] ml-auto mr-10 relative overflow-hidden">
      <Image
        src={AaronImg}
        alt="Aaron Soto"
        priority
        class="object-cover"
        sizes="(max-width: 768px) 60vw, 30vw"
        widths={[240, 360, 480, 720]}
      />

      <div
        class="static-effect absolute inset-0 w-[200%] h-[200%] -top-1/2 -left-1/2 z-10 mix-blend-multiply opacity-30 pointer-events-none animate-[staticRotate_8s_infinite_steps(4)] will-change-transform"
        style={`background-image: url(${StaticImg.src}); background-repeat: repeat; background-size: 32px 32px;`}
      >
      </div>
    </div>
  </div>

  <!-- Button spans columns 2-3 on mobile, 4-5 on desktop -->
  <div class="w-full col-span-full flex justify-center order-3 mt-4 md:mt-8">
    <a
      href="/about"
      class="border border-lines bg-black/1 backdrop-blur-sm text-foreground-muted py-3 px-6 mx-auto transition-all hover:border-primary hover:text-primary flex items-center justify-center gap-3 group min-w-64"
      >about me <Arrow
        class="inline ml-2 group-hover:rotate-45 transition-all"
      />
    </a>
  </div>
</div>
