---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import AaronLoganMarketImg from "../assets/images/aaron-logan-market.webp";
import AyeZeeLogo from "../components/AyeZeeLogo.astro";
---

<Layout>
  <div class="container">
    <h1>about.</h1>
    <p class="text-center my-32 text-3xl font-semibold">
      i am a creative that loves building beautiful, practical software.
    </p>

    <div class="grid grid-cols-4 md:grid-cols-8 mb-20">
      <div class="flex flex-col col-span-2">
        <div class="flex items-center gap-4">
          <span class="text-foreground-muted">// experience</span>
          <div class="h-px bg-lines flex-1"></div>
        </div>
        <span class="text-3xl">6 years</span>
      </div>

      <div class="flex flex-col col-span-2 md:col-start-4">
        <div class="flex items-center gap-4">
          <span class="text-foreground-muted">// location</span>
          <div class="h-px bg-lines flex-1"></div>
        </div>
        <span class="text-3xl">Arizona (MST)</span>
      </div>

      <div class="flex flex-col col-span-2 md:col-start-7 mt-8 md:mt-0">
        <div class="flex items-center gap-4">
          <span class="text-foreground-muted">// freelance</span>
          <div class="h-px bg-lines flex-1"></div>
        </div>
        <span class="text-3xl">Available</span>
      </div>
    </div>

    <div
      class="grid grid-cols-4 md:grid-cols-8 items-center py-6 bg-black relative"
    >
      <!-- top shadow -->
      <div
        class="absolute bottom-full left-0 w-full h-16 bg-[linear-gradient(to_bottom,transparent_0%,black_100%)]"
      >
      </div>
      <!-- bottom shadow -->
      <div
        class="absolute top-full left-0 w-full h-16 bg-[linear-gradient(to_top,transparent_0%,black_100%)]"
      >
      </div>

      <div class="col-span-4 flex flex-col gap-6">
        <h2>hello! i'm aaron.</h2>
        <p>
          i'm a builder at heart. I love to build things that make a difference.
        </p>

        <p>
          I run a small software development agency where we focus on creating
          custom web applications that follow best practices and deliver real
          value to our clients.
        </p>
        <p>
          i'm always eager to connect with like-minded professionals and explore
          new opportunities. feel free to reach out if you'd like to collaborate
          or just say hello!
        </p>
      </div>

      <div class="md:col-start-6 col-span-4 md:col-span-3 mt-8 md:mt-0">
        <Image
          src={AaronLoganMarketImg}
          alt="Aaron Logan Market"
          class="w-full"
        />
      </div>
    </div>

    <div class="flex flex-col justify-center items-center mt-20 pb-28">
      <a
        href="https://ayezeewebdesigns.com"
        target="_blank"
        class="hover:scale-102 active:scale-98 transition-transform"
      >
        <AyeZeeLogo class="mb-6" />
      </a>

      <p class="text-foreground-muted max-w-prose text-center mb-6">
        Take a look at my web design agency, AyeZee Web Designs. I am always
        looking for new industries and clients to work with to create beautiful
        and functional websites.
      </p>
      <a
        href="https://ayezeewebdesigns.com"
        target="_blank"
        class="inline-block bg-neutral-950 hover:bg-neutral-900 border border-lines text-white px-9 py-3 transition-colors"
      >
        Visit AyeZee Web Designs
      </a>
    </div>
  </div>
</Layout>
