---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <h1>Contact Me</h1>
    <p>
      Feel free to reach out to me via email at
      <a
        href="mailto:aaron.m.soto1@gmail.com"
        class="text-primary hover:underline">aaron.m.soto1@gmail.com</a
      >
    </p>
  </div>
</Layout>
