<div class="relative group">
  <a
    href="/"
    class="overflow-hidden relative inline-block px-6 py-1.5 bg-white text-black border-none cursor-pointer transition-all duration-300 ease-in-out active:scale-95"
  >
    <!-- Animated background spans -->
    <span
      class="absolute w-[180%] h-64 -top-16 -left-8 bg-primary/20 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-left"
    ></span>
    <span
      class="absolute w-[180%] h-64 -top-16 -left-8 bg-primary/40 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-left"
    ></span>
    <span
      class="absolute w-[180%] h-64 -top-16 -left-8 bg-primary/60 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-left"
    ></span>

    <!-- Content -->
    <span class="relative z-10 flex items-center">
      <span
        class="transition-all duration-500 group-hover:translate-x-1 text-3xl font-black group-hover:text-white"
        >aaronsoto</span
      >
      <!-- SVG here -->
    </span>
  </a>
</div>
